@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.cdnfonts.com/css/li-ador-noirrit');



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.bfont{
    font-family: 'Li Ador Noirrit', sans-serif;
  }
  
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    animation-duration: 0.5s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
  }
  
  /* scroll bar styling custom table */
  
  .hiddenScrollBar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar {
    width: 7px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-button:single-button {
    background-color: #f1f1f1;
    display: block;
    background-size: 7px;
    background-repeat: no-repeat;
  }
  
  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-radius: 10px 10px 0 0;
    height: 10px;
    width: 7px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(102, 102, 102)'><polygon points='50,00 0,50 100,50'/></svg>");
  }
  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    border-radius: 0px 0px 10px 10px;
    height: 10px;
    width: 7px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(102, 102, 102)'><polygon points='0,0 100,0 50,50'/></svg>");
  }
  
  /* Left */
  ::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-radius: 10px 0px 0 10px;
    height: 7px;
    width: 7px;
    background-position: 0px 0px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(102, 102, 102)'><polygon points='0,50 50,100 50,0'/></svg>");
  }
  
  /* Right */
  ::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-radius: 0 10px 10px 0;
    height: 7px;
    width: 7px;
    background-position: 0px 0px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(102, 102, 102)'><polygon points='0,0 0,100 50,50'/></svg>");
  }
  /* End scroll bar modify */